@font-face {
    font-family: 'Manrope';
    src: url('../assests/fonts/Manrope-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../assests/fonts/Manrope-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../assests/fonts/Manrope-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
